@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Cotroceni 14<br />
    Bucharest, Romania<br />
    <abbr title="Phone">Phone:</abbr>
    +4074 333 232
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@wanderlust.com">support@wanderlust.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@wanderlust.com">Marketing@wanderlust.com</a>
</address>