@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wanderlust</h1>
    <p class="lead">
        Welcome to your one-stop resource for a life-changing journey.
    </p>
    <p><a href="/articles/index" class="btn btn-primary btn-lg">Read our articles &raquo;</a></p>
</div>
<br />
<img style="width: 18%; margin: auto;" src="Img\img1.jpg" />
<img style="width: 18%; margin: auto;" src="Img\img2.jpg" />
<img style="width: 18%; margin: auto;" src="Img\img3.jpg" />
<img style="width: 18%; margin: auto;" src="Img\img4.jpg" />
<img style="width: 18%; margin: auto;" src="Img\img5.jpg" />